.text-parisienne {
  font-family: "Parisienne", cursive;
  font-size: 2.2rem;
}

.text-petit-formal {
  font-family: "Petit Formal Script", cursive;
  font-size: 1.3rem;
}

.text-petit-formal-small {
  font-family: "Petit Formal Script", cursive;
  font-size: 1.2rem;
}
