<div class="row mt-3">
    <div class="col-md-8 col-sm-12 mx-auto pt-4">
        <mdb-carousel [animation]="'slide'" [interval]="'3000'">
            <mdb-carousel-item>
                <img class="img-fluid mx-auto d-block w-100" src="https://source.unsplash.com/random/512x429"  alt="First slide">
                <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
            </mdb-carousel-item>
            <mdb-carousel-item>
                <img class="img-fluid mx-auto d-block w-100" src="https://source.unsplash.com/random/512x427"  alt="Second slide">
                <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
            </mdb-carousel-item>
            <mdb-carousel-item>
                <img class="img-fluid mx-auto d-block w-100" src="https://source.unsplash.com/random/512x428"  alt="Third slide">
                <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
            </mdb-carousel-item>
        </mdb-carousel>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-sm-12 mx-auto pt-4 text-center">
        <p>
        Freycinet Lodge
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-sm-12 mx-auto pb-5">
        <hr>
    </div>    
</div>
<div class="row">
    <div class="col-md-6 col-sm-12 mx-auto">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit quidem magni 
        accusantium ea architecto quae ullam necessitatibus. Quo necessitatibus dolores 
        quisquam, molestiae nam sed nobis nisi aspernatur! Ducimus corporis obcaecati minima 
        error nobis dolores optio aperiam vero debitis at hic deleniti ex necessitatibus 
        repudiandae commodi, itaque unde aspernatur, rem aliquam!
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-sm-12 mx-auto py-5">
        <hr>
    </div>
</div>