.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
 }
 @-webkit-keyframes fadeIn {
   0% {opacity: 0;}
   100% {opacity: 1;}
 }
 @keyframes fadeIn {
   0% {opacity: 0;}
   100% {opacity: 1;}
 }
 .fadeIn {
   -webkit-animation-name: fadeIn;
   animation-name: fadeIn;
 }
 
 @media (min-width: 768px){
  .carousel-crop {
    max-height: 480px;
    overflow: hidden;
  }
 }

 @media all and (max-width: 765px) and (min-width: 1px) {
  .carousel-crop-sm {
    max-height: 250px;
    overflow: hidden;
  }
}