<div class="container">
  <div class="row pt-4">
    <div class="col-md-6 col-sm-12 text-center mx-auto">
      <h1 class="text-parisienne">Kevin & Erandhi</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-sm-12 mx-auto">
      <!--Navbar-->
      <mdb-navbar #navbar SideClass="navbar navbar-expand-lg navbar-light bg-light z-depth-0" [containerInside]="false">
        <!-- Navbar brand -->
        <mdb-navbar-brand class="p-none" style="display: none">
          <a href="#" class="navbar-brand"></a>
        </mdb-navbar-brand>
        <!-- Collapsible content -->
        <!-- <div style="max-height: 1rem"> -->
        <links class="my-n2 p-none">
          <!-- Links -->
          <ul class="navbar-nav mx-auto">
            <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
              #rlaInvitation="routerLinkActive">
              <a class="nav-link waves-dark" routerLink="/">
                Invitation
                <span class="sr-only">
                  {{ rlaInvitation.isActive ? "(current)" : "" }}
                </span>
              </a>
            </li>
            <li class="nav-item" routerLinkActive="active" #rlaLocation="routerLinkActive">
              <a class="nav-link waves-dark" routerLink="/rsvp">
                RSVP
                <span class="sr-only">
                  {{ rlaLocation.isActive ? "(current)" : "" }}
                </span>
              </a>
            </li>
            <li class="nav-item" routerLinkActive="active" #rlaLocation="routerLinkActive">
              <a class="nav-link waves-dark" routerLink="/bookings">
                Book A Cabin
                <span class="sr-only">
                  {{ rlaLocation.isActive ? "(current)" : "" }}
                </span>
              </a>
            </li>

            <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
              #rlaAttire="routerLinkActive">
              <a class="nav-link waves-dark" routerLink="/attire">
                Attire
                <span class="sr-only">
                  {{ rlaAttire.isActive ? "(current)" : "" }}
                </span>
              </a>
            </li>

            <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
              #rlaAttire="routerLinkActive">
              <a class="nav-link waves-dark" routerLink="/gifts">
                Gifts
                <span class="sr-only">
                  {{ rlaAttire.isActive ? "(current)" : "" }}
                </span>
              </a>
            </li>

          </ul>
        </links>
        <!-- </div> -->
      </mdb-navbar>
      <!--/.Navbar-->
    </div>
  </div>
  <router-outlet></router-outlet>
</div>