<div class="container">
  <div class="row pt-4">
    <div class="col-md-6 col-sm-12 text-center mx-auto">
      <h2>Kevin & Erandhi</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-sm-12 mx-auto">
      <!--Navbar-->
      <mdb-navbar SideClass="navbar navbar-expand-lg navbar-light bg-light z-depth-0" [containerInside]="false">
          <!-- Navbar brand -->
          <mdb-navbar-brand><span style="padding: 0.01rem"></span></mdb-navbar-brand>
          <!-- Collapsible content -->
          <links class="my-n2">
              <!-- Links -->
              <ul class="navbar-nav mx-auto">
                  <li class="nav-item" 
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact: true}"
                    #rlaInvitation="routerLinkActive"
                  >
                    <a class="nav-link waves-dark" mdbWavesEffect routerLink="/">
                      Invitation 
                      <span class="sr-only">
                      {{ rlaInvitation.isActive ? '(current)' : ''}}
                      </span>
                    </a>
                  </li>
                  <li class="nav-item" 
                    routerLinkActive="active"
                    #rlaLocation="routerLinkActive">
                    <a class="nav-link waves-dark" mdbWavesEffect routerLink="/location">
                      Location 
                      <span class="sr-only">
                      {{ rlaLocation.isActive ? '(current)' : ''}}
                      </span>
                    </a>
                  </li>
                  <li class="nav-item" 
                  routerLinkActive="active"
                  #rlaLocation="routerLinkActive">
                  <a class="nav-link waves-dark" mdbWavesEffect routerLink="/rsvp">
                    RSVP 
                    <span class="sr-only">
                    {{ rlaLocation.isActive ? '(current)' : ''}}
                    </span>
                  </a>
                </li>
              </ul>
          </links>
      </mdb-navbar>
      <!--/.Navbar-->
    </div>
  </div>
  <router-outlet></router-outlet>
</div>