<div class="row mt-5">
  <div class="col-md-6 col-sm-12 mx-auto text-center text-petit-formal">
    Dress Code: Beach Formal
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-sm-12 mx-auto text-center pt-4">
    <a
      data-pin-do="embedUser"
      data-pin-board-width="1000"
      data-pin-scale-height="600"
      data-pin-scale-width="380"
      href="https://www.pinterest.com.au/068ant/"
    ></a>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-sm-12 mx-auto pb-3">
    <hr />
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-sm-12 mx-auto">
    <p style="font-size: 1.5rem;" class="">
      Above is an idea for some beach formal clothes, think colourful, think
      summer.
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-sm-12 mx-auto py-3">
    <hr />
  </div>
</div>
