.text-large {
    font-size: 1.3rem;
}

.text-parisienne {
    font-family: 'Parisienne', cursive;
    font-size: 2.2rem;
}

.text-petit-formal {
    font-family: 'Petit Formal Script', cursive;
    font-size:1.3rem;
}
